.forma-pago{
    &__icon{
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
        border: 0.5px solid rgb(75, 73, 73)
    }
    &__i{
        font-size: 4rem;
        color: $color-terciario;
    }
}