.banner{
    background-image:url(../../assets/images/banner/home-banner.jpg);
    width: 100vw;
    height: 80vh;
    background-position: 50% 50%;
    background-attachment: fixed;

    &__cont{
        font-size: 2rem;
        color: #F3EDDF;
        position: absolute;
        top: 70%;
        left: 10%;
    }
}